/* JobManager.css */
.job-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.job-table th,
.job-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.job-table th {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

input,
select {
  margin: 5px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 12px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: #e53935;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
